.emptyCoupon {
  background-color: var(--submenu-bg-color);
  width: 318px;
  height: 85px;
  border-radius: 8px;
  margin-left: 25px;
  color: white;
  font-size: 16px;
  display: flex;
  line-height: 19px;
  justify-content: space-between;
  &-myCuopon {
    font-weight: bold;
    color: var(--primary-color);
    padding: 20px 0 20px 20px;
    &-rate {
      color: white;
      font-weight: normal;
      padding-top: 7px;
    }
  }

  &-number {
    position: inline-block;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 29px;
    background-color: var(--coupon-badge-bg-color);
    margin-top: 22px;
    margin-right: 28px;
    border-radius: 50px;
  }
}

.fullCoupon {
  background-color: var(--submenu-bg-color);
  width: 318px;
  height: 85px;
  border-radius: 8px 8px 0px 0px;
  margin-left: 25px;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 19px;
  justify-content: space-between;
  display: flex;

  &-myCuopon {
    font-weight: bold;
    color: var(--primary-color);
    padding: 20px 0 20px 20px;
    &-rate {
      color: white;
      font-weight: normal;
      padding-top: 7px;
    }
  }

  &-dropdown {
    display: flex;
    margin-top: 22px;
    margin-right: 17px;
  }

  &-number {
    position: inline-block;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 29px;
    background-color: var(--coupon-badge-bg-color);
    margin-right: 9px;
    border-radius: 50px;
  }

  &-container {
    background-color: var(--submenu-bg-color);
    width: 318px;
    height: 141px;
    border-radius: 0px 0px 8px 8px;
    margin-left: 25px;
    display: grid;
    color: white;
    font-size: 16px;
    font-weight: 600;
    align-items: initial;
    justify-content: center;
  }

  &-footer {
    display: flex;
    justify-content: space-between;

    &-text {
      padding-left: 10px;
      padding-top: 10px;
      display: grid;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }

    &-price {
      padding-right: 10px;
      padding-top: 10px;
      display: grid;
      text-align: right;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }
    &-gain {
      color: var(--mbs3-bg-color);
    }
  }

  &-play {
    margin-top: 10px;

    &-button {
      width: 298px;
      height: 39px;
      padding: 10px;
      background: var(--secondary-color);
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: var(--text-bg-color);
      border: none;
    }
  }
}
