.couponItem {
  background-color: var(--text-bg-color);
  width: 298px;
  height: 60px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  padding: 10px;
  border-bottom: 1px solid var(--placeholder-color);

  &-text {
    display: grid;
    padding-left: 10px;
    &-match {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }

    &-date {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &-result {
    display: flex;

    &-text {
      font-weight: 500;
      padding-right: 11px;
      font-size: 14px;
      line-height: 16px;
    }
    &-final {
      color: var(--secondary-color);
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-trash {
    font-weight: bold;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    margin-left: auto;
    line-height: 16px;
    &-rate {
      padding-top: 16px;
    }
  }
}
