.button {
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  width: 115px;
  height: 43px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  &-primary {
    border-radius: 8px;
    background-color: var(--primary-color);
  }

  &-secondary {
    border-radius: 8px;
    background-color: var(--default-color);
  }

  &-withBadge {
    background-color: black;
    color: white;
    width: 138px;
    margin-left: 1px;
    border: none;
  }
}
