.badge {
  background-color: #f3e300;
  color: black;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  width: 19px;
  margin-left: 10px;
  height: 19px;
  font-weight: bold;
  display: inline-block;
  &-green {
    background-color: var(--mbs3-bg-color);
    color: var(--text-bg-color);
    margin-left: 0px;
    border-radius: 8px;
  }
  &-orange {
    background-color: var(--mbs2-bg-color);
    color: var(--text-bg-color);
    border-radius: 8px;
    margin-left: 0px;
  }
  &-red {
    background-color: var(--mbs1-bg-color);
    color: var(--text-bg-color);
    border-radius: 8px;
    margin-left: 0px;
  }
}
