.coverHead {
  background-color: var(--secondary-color);
}
.header {
  margin: auto;
  background-color: var(--secondary-color);
  width: 1024px;
  height: 78px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-logo {
    padding-left: 60px;
  }
  &-button {
    padding-right: 60px;
  }
}
