.bulten {
  background: #fafafa;
  width: 675px;
  height: 591px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;

  &-text {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-header {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      padding-left: 30px;
    }

    &-date {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      padding-left: 20px;
    }
  }
  &-table {
    width: 100%;

    &-row {
      background-color: var(--submenu-bg-color);
      color: var(--text-bg-color);
      height: 33px;
      &-border {
        border-left: 0px;
      }
    }
    &-datacell {
      cursor: pointer;
    }
    &-data {
      background-color: #dddddc;
      color: var(--text-color);
      height: 35px;
    }
  }
}

table tr th {
  background-color: var(--submenu-bg-color);
  color: var(--text-bg-color);
  border-left: 1px solid black;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.bulten-table-span th {
  border-left: 1px solid black;
  border-top: 1px solid black;
  vertical-align: middle;
  height: 37px;
}
tr td {
  text-align: center;
  border-left: 1px solid black;
  vertical-align: middle;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}