.coverSub {
  background-color: var(--submenu-bg-color);
}

.subMenu {
  margin: auto;
  background-color: var(--submenu-bg-color);
  width: 1024px;
  height: 43px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  &-button {
    padding-left: 60px;
    margin-left:1px
  }

  &-search {
    padding-right: 60px;
  }
}
