.input-search {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  
  &-icon {
    position: relative;
    right: -47px;
  }

  &-field {
    width: 299px;
    height: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    padding-left: 59px;
    
  }
}
