:root {
  --primary-color: #f3e300;
  --secondary-color: #008641;
  --default-color: #fafafa;
  --text-color: #000000;
  --text-bg-color: #fafafa;
  --submenu-bg-color: #474747;
  --placeholder-color: #acacac;
  --bg-color: #dddddc;
  --mbs1-bg-color: #ef4444;
  --mbs2-bg-color: #fbb751;
  --mbs3-bg-color: #4dcd4a;
  --coupon-badge-bg-color: #737373;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
}
